<div class="document" id="confessions-document">
    <mat-card id="confession-card">
        <div id="close-button"><mat-icon id="close" (click)='closeConfessTextArea()'>clear</mat-icon></div>
        <div id="feeling-button">
            <div id="feeling-list">
                <mat-form-field id="feeling-form-field" appearance="fill">
                    <mat-label>Feeling</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let feel of feelings" (click)=feelingsAdded(feel)>
                        {{feel}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div id="feeling-selected">
                <div id="feeling-selected-error">Only 3 Unique feelings can be selected </div>
            </div>
        </div>
        <div id="confession-text">
            <mat-form-field appearance="fill" id="confession-form-field">
                <mat-label>Confession</mat-label>
                <textarea matInput rows=6 id="confession-text-area" [(ngModel)]="confessString" ></textarea>
            </mat-form-field>
        </div>
        <div id="confession-submit-button"><button id="submit-button" mat-raised-button (click)='submitConfession()'>Submit</button></div>
    </mat-card>
    <div id="confessions">
        <app-navigation-bar id="navigation-bar"></app-navigation-bar>
        <div id="add-confessions">
            <div id="confession-reason">Bottling Emotions means suppressing your emotions. These emotions are not confronted and only shunned off. It is almost like gas getting pressurized in an airtight bottle. Once the pressure is beyond the limits of the bottle, it can burst in the worst way possible and may leave lifetime regret. Anonymous confessions are a little help for depressurizing the pressure. I, in turn, use these anonymous confessions for creating an art piece with a varied perspective. So, go ahead, confess your feelings, and, within 48 hours, your confession will be approved and published to this list.</div>
            <div id="confession-button"><button id="iconfess-button" mat-raised-button (click)="openConfessTextArea()">I Confess</button></div>
        </div>
        <div id="made-confessions">
            <div *ngFor="let confession of confessions" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="250">
            <mat-card *ngIf = "confession.isApproved === true">
                <div id="confessions-list">
                    {{ confession.confession }}
                </div>
                <br>
                <span id="emotions" *ngFor="let feel of confession.feelings">
                    <span>|  {{ feel }}  |</span>
                </span>
            </mat-card>
            <br>
            </div>
        </div>
        <app-footer id="footer"></app-footer>
    </div>
</div>