<div id="footer">
    <div id="contact">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <div class="line"></div>
        <div id="contact-text">&nbsp;&nbsp;&nbsp;&nbsp;Contact me&nbsp;&nbsp;&nbsp;&nbsp;</div>
        <div class="line"></div>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </div>
    <div id="social-media">
        <a href="https://www.facebook.com/aditirayart"><mat-icon id="facebook">facebook</mat-icon></a>
        <a class="fa fa-instagram" id="instagram" href="https://www.instagram.com/aditi_art"></a>
    </div>
</div>
