#navigation-bar {
    background-color: rgba(0,0,0,0.3);
    position: fixed;
    display: grid;
    width: 100vw;
    height: 10vh;
    grid-template-columns: 10% auto 30%;
    grid-template-areas: 'logo . navigation-buttons';
    z-index: 99;
}

#logo {
    grid-area: logo;
    color: var(--color2);
    font-size: 2.8em;
    margin: auto;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    cursor: pointer;
}

#logo-img {
    width: 50px;
    height: 50px;
}

#navigation-buttons {
    grid-area: navigation-buttons;
    margin: auto;
}

#navigation-buttons button {
   margin-right: 1vw;
}

#mobile-navigation-buttons {
    grid-area: mobile-navigation-buttons;
    display: none;
}

#menu-button {
    color: var(--color5);
    font-size: 5em;
    transform: scale(1.5);
    margin: auto;
    top: 10px;
}

.nav-buttons {
    background-color: transparent;
    color: var(--color5);
}

.nav-buttons-closed {
    background-color: transparent;
    color: var(--color1);
}

@media only screen and (max-width: 750px) {

    #navigation-bar {
        grid-template-columns: 10% auto 10%;
        grid-template-areas: 'logo . mobile-navigation-buttons';
    }

    #logo {
        font-size: 2.5em;
    }  

    #navigation-buttons {
        display: none;
    }
    
    #mobile-navigation-buttons {
        display: block;
    }
}

@media only screen and (max-width: 500px) {
    
    #logo {
        font-size: 2em;
    }     

    #navigation-bar {
        grid-template-columns: 10% auto 15%;
    }
}
