#home-loading-document {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loading-container {
    height: 50vh;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Aditi_Logo {
    height: 400px;
    width: 400px;
    opacity: 0;
    /* stroke-dasharray: 20000;
    stroke-dashoffset: 20000; */
    fill: transparent;
    animation: animation2-text-animation 5s 0.5s linear forwards;
}

@keyframes animation2-text-animation {
    /* 0% { stroke-dashoffset: 20000; fill: transparent;} */
    50% { opacity: 1; fill: black;}
    100% { opacity: 1; fill: black; }
}