#gallery {
    height: 100vh;
    display: grid;
    overflow-y: hidden;
    overflow-x: hidden;
    grid-template-rows: 10vh 10vh auto;
    grid-template-areas:    'navigation-bar'
                            'toggle-bar'
                            'arts'
}

#navigation-bar {
    grid-area: navigation-bar;
    z-index: 99;
}

#toggle-bar {
    grid-area: toggle-bar;
    margin: auto;
}

.toggle-button {
    /* border: 1px solid var(--color1); */
    /* margin-right: 10px; */
    border-radius: 0px;
    padding: 5px 20px;
    background-color: rgba(var(--color4rgb));
    color: var(--color5);
}

#drawing-toggle-button {
    background-color: rgba(var(--color4rgb), 0.4);
    border-right: 1px solid var(--color3);
}

#confessions-toggle-button {
    border-left: 1px solid var(--color3);
}

#arts {
    grid-area: arts;
    width: 100vw;
}

#left-arrow {
    position: absolute;
    top: 50%;
    z-index: 97;
}

#all-art {
    grid-area: all-art;
    overflow: auto;
    white-space:nowrap; 
}

#right-arrow {
    position: absolute;
    top: 50%;
    z-index: 97;
    right: 0vw;
}

#drawing-art, #confession-art {
    height: 90vh;
    width: 100%; 
}

#drawing-art .slide {
    display: inline-block;
}

#confession-art {
    display: none;
} 

.design-art-card {
    text-align: center;
    background-color: transparent;
    width: 25vw;
    top: 5%;
    left: 1%;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    -webkit-box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
}

.display-image {
    height: 55vh;
    width: 25vw;
}

#art-description {
    display: none;
    position: fixed;
    z-index: 98;
    width: 82%;
    left: 10%;
    -webkit-box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
}

@-webkit-keyframes art-description-entry-animation {
    0% {
        -webkit-transform: rotateX(90deg);
                transform: rotateX(90deg);
        opacity: 0;
      }
      100% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
        opacity: 1;
      }
}

@-webkit-keyframes art-description-exit-animation {
    0% {
        -webkit-transform: rotateX(0);
                transform: rotateX(0);
        opacity: 1;
      }
      100% {
        -webkit-transform: rotateX(70deg);
                transform: rotateX(70deg);
        opacity: 0;
      }
}

#art-description-card {
    height: 55vh;
    background-color: var(--color2);
    display: grid;
    grid-template-rows: 3vh auto;
    grid-template-areas:    'close'
                            'card-info';
   
}

#close {
    grid-area: close;
}

#close-icon {
    float: right;
    cursor: pointer;
}

#card-info {
    grid-area: card-info;
    display: grid;
    grid-template-columns: 33% 2% auto;
    grid-template-areas: 'art-image . art-info'
}

#art-image {
    grid-area: art-image;
}

#image-art-description {
    height: 52vh;
    width: 100%;
}

#art-info {
    grid-area: art-info;
    display: grid;
    grid-template-rows: 10% 10% 5% 10% auto;
    grid-template-areas:    'artist-name-heading'
                            'artist-name'
                            '.'
                            'art-story-heading'
                            'art-story';
}

#artist-name-heading {
    grid-area: artist-name-heading;
    font-size: 1.3em;
    color: var(--color5);
}

#artist-name {
    grid-area: artist-name;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#art-story-heading {
    grid-area: art-story-heading;
    font-size: 1.3em;
    color: var(--color5);
}

#artist-name::first-letter, #art-story::first-letter {
    font-size: 1.5em;
}

#art-story {
    grid-area: art-story;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}


@media only screen and (max-width: 1000px) {

    .design-art-card {
        height: 50vh;
        width: 35vw;
    }

    .display-image {
        height: 50vh;
        width: 35vw;
    }

    #card-info {
        grid-template-columns: 40% 2% auto;
    }
}

@media only screen and (max-width: 850px) {

    #card-info {
        grid-template-columns: 45% 2% auto;
    }  
}

@media only screen and (max-width: 750px) {

    .design-art-card {
        width: 45vw;
    } 

    .display-image {
        width: 45vw;
    } 

    #art-description-card {
        height: 60vh;
    }

    #card-info {
        grid-template-columns: 50% 2% auto;
    }  
}

@media only screen and (max-width: 650px) {

    #left-arrow, #right-arrow {
        display: none;
    }

    #drawing-art, #confession-art {
        height: 60vh;
        width: 100%; 
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 5%;
        grid-row-gap: 10vh;
        margin-right: 10vw;
        overflow: auto;
        white-space:nowrap; 
    }

    .design-art-card {
        width: 60vw;
        margin: auto;
    } 

    .display-image {
        width: 60vw;
    }
    
    #art-image {
        display: none;
    }

    #card-info {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 'art-info'
    }
}