#gallery {
    height: 100vh;
    display: grid;
    overflow-y: hidden;
    overflow-x: hidden;
    grid-template-rows: 10vh 15vh auto;
    grid-template-areas:    'navigation-bar'
                            'toggle-bar'
                            'arts'
}

#navigation-bar {
    grid-area: navigation-bar;
    z-index: 99;
}

#toggle-bar {
    grid-area: toggle-bar;
    margin: auto;
}

.toggle-button {
    border-radius: 0px;
    padding: 5px 20px;
    background-color: rgba(var(--color4rgb));
    color: var(--color7);
}

#drawing-toggle-button {
    background-color: rgba(var(--color4rgb), 0.4); 
    color: var(--color5);
    border-right: 1px solid var(--color5);
}

#confessions-toggle-button {
    border-left: 1px solid var(--color5);
}

#arts {
    grid-area: arts;
    width: 100vw;
}

#left-arrow {
    position: absolute;
    top: 25%;
    z-index: 97;
}

#all-art {
    grid-area: all-art;
    overflow: auto;
    white-space:nowrap; 
    padding-left: 5vw;
}

#right-arrow {
    position: absolute;
    right: 0vw;
    top: 25%;
    z-index: 97;
}

#drawing-art, #confession-art {
    height: 75vh;
    width: 100%; 
}

#drawing-art .slide, #confession-art .slide {
    display: inline-block;
}

#confession-art {
    display: none;
} 

.design-art-card {
    text-align: center;
    background-color: transparent;
    width: 340px;
    margin-top: 2vh;
    margin-bottom: 2vh;
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.75);
}

.display-image {
    height: 450px;
    width: 340px;
}

#art-description {
    position: absolute;
    left: 12.5%;
    display: none;
    z-index: 98;
    width: 75%;
    -webkit-box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
    box-shadow: -1px 10px 23px 5px rgba(0,0,0,0.75);
}

@-webkit-keyframes art-description-entry-animation {
    0% {
        -webkit-transform: translateY(-20px);
        transform: translateY(-20px);
        opacity: 0;
    }
    100% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }
}

@-webkit-keyframes art-description-exit-animation {
    100% { opacity: 0;}
}

#art-description-card {
    height: 55vh;
    background-color: var(--color1);
    display: grid;
    grid-template-rows: 3vh auto;
    grid-template-areas:    'close'
                            'card-info';
   
}

#close {
    grid-area: close;
}

#close-icon {
    float: right;
    cursor: pointer;
}

#card-info {
    grid-area: card-info;
    display: grid;
    grid-template-columns: 33% 2% auto;
    grid-template-areas: 'art-image . art-info'
}

#art-image {
    grid-area: art-image;
}

#image-art-description {
    height: 52vh;
    width: 100%;
}

#art-info {
    grid-area: art-info;
    display: grid;
    grid-template-rows: 10% 10% 5% 10% auto;
    grid-template-areas:    'artist-name-heading'
                            'artist-name'
                            '.'
                            'art-story-heading'
                            'art-story';
}

#artist-name-heading {
    grid-area: artist-name-heading;
    font-size: 1.3em;
    color: var(--color5);
}

#artist-name {
    grid-area: artist-name;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}

#art-story-heading {
    grid-area: art-story-heading;
    font-size: 1.3em;
    color: var(--color5);
}

#artist-name::first-letter, #art-story::first-letter {
    font-size: 1.5em;
}

#art-story {
    grid-area: art-story;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}


@media only screen and (max-width: 1000px) {

    /* .design-art-card {
        height: 50vh;
        width: 35vw;
    } */

    /* .display-image {
        height: 50vh;
        width: 35vw;
    } */

    #card-info {
        grid-template-columns: 40% 2% auto;
    }
}

@media only screen and (max-width: 850px) {
    #card-info {
        grid-template-columns: 45% 2% auto;
    }  
}

@media only screen and (max-width: 750px) {
    #art-description-card {
        height: 60vh;
    }

    #card-info {
        grid-template-columns: 50% 2% auto;
    }  
}

@media only screen and (max-width: 650px) {
    #arts {
        padding-top: 0;
    }

    #all-art {
        padding-left: 0vw;
    }

    #left-arrow, #right-arrow {
        display: none;
    }

    #drawing-art, #confession-art {
        height: 60vh;
        width: 100%; 
        padding-top: 3vh;
        display: grid;
        grid-template-columns: auto;
        grid-column-gap: 0%;
        grid-row-gap: 5vh;
        margin-right: 0vw;
        overflow: auto;
        white-space:nowrap; 
    }

    .design-art-card {
        margin: auto;
    } 
    
    #art-image {
        display: none;
    }

    #card-info {
        display: grid;
        grid-template-columns: auto;
        grid-template-areas: 'art-info'
    }
}

@media only screen and (max-width: 450px) {
    .design-art-card {
        width: 70%;
    }
    
    .display-image {
        height: 410px;
        width: 100%;
    }
    
}

@media only screen and (max-width: 400px) {
    .display-image {
        height: 390px;
    }
    
}

@media only screen and (max-width: 350px) {
    .design-art-card {
        width: 80%;
    }

    .display-image {
        height: 370px;
    }
    
}

@media only screen and (max-width: 300px) {
    .display-image {
        height: 350px;
    }
    
}

@media only screen and (max-width: 250px) {
    .display-image {
        height: 310px;
    }
}

@media only screen and (max-width: 200px) {
    .design-art-card {
        width: 70%;
    }

    .display-image {
        height: 250px;
    }
}

@media only screen and (max-width: 150px) {
    .design-art-card {
        width: 70%;
    }

    .display-image {
        height: 170px;
    }
}