<div class="document" id="gallery-document">
    <div id="gallery">
        <app-navigation-bar id="navigation-bar"></app-navigation-bar>
        <div id="toggle-bar">
            <button class="toggle-button" mat-raised-button id="drawing-toggle-button" (click)="displayDrawings()">Drawings</button>
            <button class="toggle-button" mat-raised-button id="confessions-toggle-button" (click)="displayConfessions()">Confessions</button>
        </div>
        <div id="arts">
            <br><br>
            <div id="art-description">
                <mat-card id="art-description-card">
                    <div id="close">
                        <mat-icon id="close-icon" (click)="closeArtDescription()">clear</mat-icon>
                    </div>
                    <div id="card-info">
                        <div id="art-image">
                            <img id="image-art-description">
                        </div>
                        <div id="art-info">
                            <div id="artist-name-heading">Artist: </div>
                            <div id="artist-name"></div>
                            <div id="art-story-heading">My Story: </div>
                            <div id="art-story"></div>
                        </div>
                    </div>
                </mat-card>
            </div>
            <div id="left-arrow" (mouseover)='leftArrow()' (click)='leftArrow()'><img class="arrow" src="../../assets/left-arrow.png"></div>
            <div id="right-arrow" (mouseover)='rightArrow()' (click)='rightArrow()'><img class="arrow" src="../../assets/right-arrow.png"></div>
            <div id="all-art">
                <div id="drawing-art">
                    <div class="slide" *ngFor="let drawingArt of drawingArtNames">
                        <mat-card class="design-art-card"  (click)="getArtInfo(drawingArt, false)">
                            <img class="display-image" [attr.src]="drawingArt">
                        </mat-card>
                    </div> 
                </div>
                <div id="confession-art">
                    <div class="slide" *ngFor="let confessionArt of confessionArtNames">
                        <mat-card class="design-art-card"  (click)="getArtInfo(confessionArt, true)">
                            <img class="display-image" [attr.src]="confessionArt">
                        </mat-card>
                    </div> 
                </div>
            </div>
        </div>
        <app-footer id="footer"></app-footer>
    </div>
</div>
