/* You can add global styles to this file, and also import other style files */
@import 'aos/dist/aos.css';

html, body { height: 100%; }
body { margin: 0; font-family: Arial, Helvetica, sans-serif }
*:focus { outline: none; }

.document {
    /* background-color: #2a2a72; */
    /* background-image: linear-gradient(315deg, #2a2a72 0%, #00588b 74%); */
    background-color: #ebfcff;
    min-height: 100vh;
    width: 100vw;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
}