#home-loading {
    position: absolute;
    top: 0;
    left: 0;
    animation: home-loading-animation 1s 5.5s forwards ease;
    z-index: 3;
}

@keyframes home-loading-animation {
    100% {transform: translateY(100vh);}
}

#home-document {
    background-image: url('../../assets/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
    min-height: 100vh;
    width: 100vw;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    opacity: 0.5;
    animation: home-document-animation 0.3s ease-in forwards;
}

@keyframes home-document-animation {
    100% { opacity: 1;}
}
#home-document-cover {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgb(151, 214, 228, 0.7);
    z-index: 1;
}

#home-document-container {
    height: 100%;
    width: 100%;
    z-index: 2;
    background-color: transparent;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto 10vh 20vh 2vh 5vh 3vh 5vh 20vh;
    grid-template-areas:    '.'
                            'welcome-text'
                            'aditi-text'
                            '.'
                            'tag-text'
                            '.'
                            'buttons'
                            '.';
}

.intro-text {
    color: transparent;
    display: flex;
    align-items: center;
}

#welcome-text {
    grid-area: welcome-text; 
    font-size: 3em;
    margin-left: 11vw;
    animation: welcome-text-animation 1s 6s forwards;
}

#aditi-text {
    grid-area: aditi-text;
    font-size: 10em;
    margin-left: 10vw;
    animation: aditi-text-animation 1s 6s forwards;
}

#tag-text {
    grid-area: tag-text;
    font-size: 2em;
    margin-left: 11vw;
    animation: welcome-text-animation 1s 6s forwards;
}

#buttons {
    grid-area: buttons;
    margin-left: 11vw;
}

.nav-buttons {
    margin-right: 2vw;
    line-height: normal;
    /* padding: 1vh 1vw; */
    height: 100%;
    animation: buttons-animation 1s 6s forwards;
}

@-webkit-keyframes welcome-text-animation {
    0% { transform: translateY(-5vh); }
    100% { transform: translateY(0vh); color: #000;}
}

@-webkit-keyframes aditi-text-animation {
    0% { transform: translateY(-5vh); }
    100% { transform: translateY(0vh); color: #ebfcff;}
}

@-webkit-keyframes buttons-animation {
    0% { transform: translateY(-5vh); }
    100% { 
        transform: translateY(0vh);
        background-color: #ebfcff;
        color: #3a8c94;
    }
}

@media only screen and (max-width: 650px) {
    .intro-text {
        display: block;
        text-align: center;
    }

    #welcome-text {
        margin-left: 0vw;
    }
    
    #aditi-text {
        margin-left: 0vw;
    }

    #tag-text {
        margin-left: 0vw;
    }
    
    #buttons {
        margin-left: 0vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-buttons {
        margin-right: 0vw;
    }

    #gallery-button {
        margin-right: 1vw;
    }

    #confessions-button {
        margin-left: 1vw;
    }
}

@media only screen and (max-width: 450px) {
    
    #welcome-text {
        font-size: 2em;
    }
    
    #aditi-text {
        font-size: 7em;
    }
    
    #tag-text {
        font-size: 1em;
    }
    
}

@media only screen and (max-width: 250px) {

    #home-document-container {
        grid-template-rows: auto 5vh 10vh 10vh 3vh 10vh 5vh 40vh;
    }
    
    #welcome-text {
        font-size: 1em;
    }
    
    #aditi-text {
        font-size: 4em;
    }
    
    #tag-text {
        font-size: 0.7em;
    }
    
    .nav-buttons {
        font-size: 0.4em;
    }
}

@media only screen and (max-width: 150px) {

    #home-document-container {
        grid-template-rows: auto 5vh 10vh 10vh 3vh 10vh 5vh 40vh;
    }
    
    #welcome-text {
        font-size: 0.4em;
    }
    
    #aditi-text {
        font-size: 2em;
    }
    
    #tag-text {
        font-size: 0.2em;
    }
    
    .nav-buttons {
        font-size: 0.1em;
        padding-left: 0;
        padding-right: 0;
    }
}