<app-home-loading id="home-loading"></app-home-loading>
<div id="home-document">
    <div id="home-document-cover">
        <div id="home-document-container">
            <div class="intro-text" id="welcome-text">Welcome to</div>
            <div class="intro-text" id="aditi-text">Aditi</div>
            <div class="intro-text" id="tag-text">My place to be free...</div>
            <div class="intro-text" id="buttons">
                <button class="nav-buttons" id="gallery-button" mat-button routerLink="gallery">Gallery</button>
                <button class="nav-buttons" id="confessions-button" mat-button routerLink="confessions">Confessions</button>
            </div>
        </div>
    </div>
</div>